<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteBase /~rafael/Developer/rafaelignacio.cursocakephp/
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>